
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
}

body{
    background-color: white;
}

.container{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    flex-wrap: wrap;
    position: relative;
}
#products{
    border : 10px solid #3F2609;
    width:450px;
    height:25rem;
    padding:10px;
    position: relative;
}

#cart{
    width:300px;
    height:25rem;
    border : 10px solid #3F2609;
}

h1{
    text-align: center;
    margin-bottom: 10px;
    color : #3F2609;
    z-index: 120;
}

.cat,.cart-sub,.cartproductsub{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(254,201,95);
    padding:10px 20px;
    margin-bottom: 15px;
    color : #3F2609;
    font-weight: 700;
}

.cat p{
    font-weight:600;
}
.add{
    display:flex;
    align-items: center;
    background-color: #35637A;
    color:white;
    gap:20px;
    padding:1px 15px;
    border: 2px solid #3F2609;
    border-radius: 20px;
}

.sign{
    font-weight:500;
    font-size: 20px;
    width:25px;
    text-align: center;
    background-color: transparent;
    border-radius: 50%   
}

.sign:hover{
    cursor: pointer;
    background-color:rgba(240,75,78,0.7);
}

.add-item{
    font-weight: 100;
    font-size: 16px;
}

/* cart */
#cart{
    padding:10px;
    text-align: center;
    position: relative;
}
img{
    margin-top: -1rem;
    width:150px;
}

#total{
    background-color:rgb(240,75,78);
    position: absolute;
    bottom: 10px;
    width:92%;
    display:flex;
    justify-content: space-between;
    padding:15px;
    color : white;
    font-weight: 700;
    font-size: 1.5rem;
}
.cartproduct{
    display:none;
}

.cartproductsub{
    padding:15px;
    display:none;
}
.fa-cart-shopping{
    color:rgb(240,75,78);
    
}
.cartsign{
    position: absolute;
    right:20px;
    display: none;
    transform: scale(1.5);
}

@media only screen and (max-width:768px){
    .cartsign{
        display:block;
    }
    #cart{
        display:none;
        position: absolute;
        background-color: white;
    }
    #products {
        border: 10px solid #3F2609;
        width: 100%;
        height: 30rem;
        padding: 20px;
        position: relative;
    }
    .cat{
        padding: 20px 30px;
    }
    .container{
        padding:20px;
    }
}
